<div id="makemessagefield">
    <h2>maak hier uw post</h2>
    <form class="card center" autocomplete="off" name="form" (ngSubmit)="f.form.valid && postMessage()" #f="ngForm" novalidate>
        <label for="postmessage">Bericht</label>
        <input type="text" id="message" name="postmessage" [(ngModel)]="model.postMessage" #username="ngModel" required />
        <label for="hashtag">Hashtag</label>
        <input type="text" id="hashtag" name="hashtag" [(ngModel)]="model.hashtag" #username="ngModel" required />
        <button id="submit" class="btn">Plaats</button>
        <p class="error">{{ErrorMessage}}</p>
        </form>
    </div>

    <div id="searchmessage">
        <form class="card center" autocomplete="off" name="formsearch" (ngSubmit)="searchMessage()" #f="ngForm" novalidate>
            <label for="searchmessage">Zoek</label>
            <input type="text" id="search" name="searchmessage" [(ngModel)]="searchModel.searchMessage" required />
            <button id="submit" class="btn">Zoek</button>
            <p class="error">{{ErrorMessage}}</p>
        </form>
        <li *ngFor="let messagesString of messagesStrings"></li>
    </div>

    <button (click)="motivateMe()">Motivatie</button>
